<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://t.ctcdn.com.br/4r1WDGP6W0qYOG8jnPzfzX_OhSM=/1024x576/smart/i567736.jpeg" 
        alt="" 
        height="200px"
        srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="">Saiu a nova versao do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel molestie est. Suspendisse vel mattis enim.
            Aliquam condimentum diam ac orci hendrerit finibus. Donec non tristique metus. Phasellus nec nibh feugiat,
            elementum nisi in, sollicitudin ex. Sed ullamcorper congue ante, tincidunt pharetra quam euismod vel. Sed in
            luctus est</a>
        </p>
    </div>
</div>