<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
    <app-big-card cardTitle="batman" cardDescription="morcego" photoCover="https://t.ctcdn.com.br/4r1WDGP6W0qYOG8jnPzfzX_OhSM=/1024x576/smart/i567736.jpeg"></app-big-card>
    <app-big-card cardTitle="NOVIDADES" cardDescription="news" photoCover="https://t.ctcdn.com.br/4r1WDGP6W0qYOG8jnPzfzX_OhSM=/1024x576/smart/i567736.jpeg"></app-big-card>
</div>
    <div class="articles__others">
        <app-small-card cardTitle="teste teste" photoCover="https://images.tcdn.com.br/img/img_prod/606732/produto_teste_3919_1_85010fa0e84b19ffcfe78386f6f702cd_20230523151158.jpg"></app-small-card>
        <app-small-card cardTitle="teste teste" photoCover="https://images.tcdn.com.br/img/img_prod/606732/produto_teste_3919_1_85010fa0e84b19ffcfe78386f6f702cd_20230523151158.jpg"></app-small-card>
        <app-small-card cardTitle="teste teste" photoCover="https://images.tcdn.com.br/img/img_prod/606732/produto_teste_3919_1_85010fa0e84b19ffcfe78386f6f702cd_20230523151158.jpg"></app-small-card>
        
    </div>

</div>
